.drap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3vw;
    padding: 25px 210px ;
    justify-content: center;
 
}
.image{
    width: 195px;

}
.image1{
    width: 200px;
}

.titre{
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    letter-spacing: 2px;
}
body {
    background-image: url("fond2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
       
}